* {
    box-sizing: border-box;
    padding: 0;
    margin: 20;
}

body {
    background-color: rgb(250, 250, 250);
    text-align: center;
    border: solid;
    border-color: black;
    border-style: double;
    border-bottom-width: thick;
  }

  h1 {
    font-size: 50px;
    padding: 20px;
    border-color: black;
    text-decoration: overline;
    font-style: italic;
    display: inline-block;
  }

  h2 {
    font-size: 50px;
    padding-top: 10px;
    background-clip: border-box;
    color: black;
    text-decoration: overline;
    font-style: italic;
  }

  p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
  }

  h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  h4 {
    padding: 40px;
    font-size: 40px;
    border: black;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: thistle;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

  h5 {
    padding: 40px;
    font-size: 40px;
    border: black;
  }

  h6 {
    background: thistle;
  }

  h7 {
    float: right;
    font-size: 50px;
  }


  
